.resource-details-card {
  position: relative;
  min-height: 98vh;
  background-color: #fbfbfb;
  height: fit-content;
  overflow: auto;
}

.resource-detail-back-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13%;
  left: 2%;
  gap: 7px;
  text-decoration: none;
}

.resource-detail-back-button > p {
  margin: 0;
  font-family: "HK Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: gray;
}

.resource-detail-image {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.resource-detail-card {
  border: 1px solid black;
  left: 2%;
  top: 18%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
}

.resource-detail-card p {
  margin: 0;
}

.resource-detail-card-title {
  font-family: "HK Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #171f46;
}
